<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/bootstrap/v5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/fontawesome/v5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/assets/sweetalert2/v11.7.12/sweetalert2.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <script src="/assets/bootstrap/v5.3.0/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div class="container">
    <header>
        <div class="col-lg-6">
            <h1>List of customer </h1>
        </div>
        <div class="col-lg-6 header-right-button">
            <a href="#">
                <button class="btn btn-outline-light">
                    <i class="fas fa-history"></i>
                    Transfer histories
                </button>
            </a>
            <button class="btn btn-outline-light" id="btnShowCreateModal">
                <i class="fas fa-user-plus"></i>
                Add new customer
            </button>
        </div>
    </header>

    <div class="content">
        <table id="tbCustomer" class="table table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>FullName</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Address</th>
                <th>Balance</th>
                <th colspan="2">Action</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>

</div>

<th:block th:replace="customer/modalCreate"/>
<th:block th:replace="customer/modalUpdate"/>
<th:block th:replace="customer/modalDeposit"/>
<th:block th:replace="customer/modalWithdraw"/>
<th:block th:replace="customer/modalTransfer"/>

<script src="/assets/js/jquery-3.6.0.min.js"></script>
<script src="/assets/sweetalert2/v11.7.12/sweetalert2.all.min.js"></script>
<script src="/assets/js/jquery.validate.min.js"></script>
<script src="/assets/js/jquery.number.js"></script>
<script src="/assets/js/app.js"></script>


<script>


    const page = {
        url: {
            getAllCustomers: App.API_CUSTOMER + '?deleted=0',
            createCustomer: App.API_CUSTOMER,
            getCustomerById: App.API_CUSTOMER,
            updateCustomer: App.API_CUSTOMER,
            updateBalance: App.API_CUSTOMER,
            deposit: App.API_DEPOSIT,
            withdraw: App.API_WITHDRAW,
            getRecipients: App.API_CUSTOMER + '?deleted=0' + '&id_ne=',
            deleteCustomer: App.API_CUSTOMER,
        },
        elements: {},
        loadData: {},
        commands: {},
        dialogs: {
            elements: {},
            commands: {}
        },
        initializeControlEvent: {}

    }

    let customerId = 0;
    let customer = new Customer();
    let deposit = new Deposit();
    let withdraw = new Withdraw();
    let transfer = new Transfer();

    /** Khai báo biến chứa dữ liệu table */
    page.elements.btnShowCreateModal = $('#btnShowCreateModal');
    page.elements.tbCustomerBody = $("#tbCustomer tbody");

    /** Khai báo biến chứa dữ liệu modal Create */

    page.dialogs.elements.modalCreate = $('#modalCreate');
    page.dialogs.elements.formCreate = $('#formCreate');
    page.dialogs.elements.errorAreaCreate = $('#modalCreate .error-area')

    page.dialogs.elements.fullNameCreate = $('#fullNameCreate');
    page.dialogs.elements.emailCreate = $('#emailCreate');
    page.dialogs.elements.phoneCreate = $('#phoneCreate');
    page.dialogs.elements.addressCreate = $('#addressCreate');
    page.dialogs.elements.btnCreate = $('#btnCreate');

    /** Khai báo biến chứa dữ liệu modal Update */

    page.dialogs.elements.modalUpdate = $('#modalUpdate');
    page.dialogs.elements.formUpdate = $('#formUpdate');
    page.dialogs.elements.errorAreaUpdate = $('#modalUpdate .error-area')

    page.dialogs.elements.fullNameUpdate = $('#fullNameUpdate');
    page.dialogs.elements.emailUpdate = $('#emailUpdate');
    page.dialogs.elements.phoneUpdate = $('#phoneUpdate');
    page.dialogs.elements.addressUpdate = $('#addressUpdate');
    page.dialogs.elements.btnUpdate = $('#btnUpdate');

    /** Khai báo biến chứa dữ liệu modal Deposit */

    page.dialogs.elements.modalDeposit = $('#modalDeposit');
    page.dialogs.elements.formDeposit = $('#formDeposit');
    page.dialogs.elements.errorAreaDeposit = $('#modalDeposit .error-area')


    page.dialogs.elements.fullNameDeposit = $('#fullNameDeposit');
    page.dialogs.elements.emailDeposit = $('#emailDeposit');
    page.dialogs.elements.balanceDeposit = $('#balanceDeposit');
    page.dialogs.elements.transactionDeposit = $('#transactionDeposit');
    page.dialogs.elements.btnDeposit = $('#btnDeposit');

    /** Khai báo biến chứa dữ liệu modal Withdraw */

    page.dialogs.elements.modalWithdraw = $('#modalWithdraw');
    page.dialogs.elements.formWithdraw = $('#formWithdraw');
    page.dialogs.elements.errorAreaWithdraw = $('#formWithdraw .error-area');


    page.dialogs.elements.fullNameWithdraw = $('#fullNameWithdraw');
    page.dialogs.elements.emailWithdraw = $('#emailWithdraw');
    page.dialogs.elements.balanceWithdraw = $('#balanceWithdraw');
    page.dialogs.elements.transactionWithdraw = $('#transactionWithdraw');
    page.dialogs.elements.btnWithdraw = $('#btnWithdraw');

    /** Khai báo biến chứa dữ liệu modal Transfer */

    page.dialogs.elements.modalTransfer = $('#modalTransfer');
    page.dialogs.elements.formTransfer = $('#formTransfer');
    page.dialogs.elements.errorAreaTransfer = $('#formTransfer .error-area');

    page.dialogs.elements.senderId = $('#senderId');
    page.dialogs.elements.senderFullName = $('#senderFullName');
    page.dialogs.elements.senderEmail = $('#senderEmail');
    page.dialogs.elements.senderBalance = $('#senderBalance');
    page.dialogs.elements.transferAmount = $('#transferAmount');
    page.dialogs.elements.fees = $('#fees');
    page.dialogs.elements.btnTransfer = $('#btnTransfer');

    page.commands.renderCustomer = (obj) => {
        return  `
            <tr id="tr_${obj.id}">
                <td>${obj.id} </td>
                <td>${obj.fullName} </td>
                <td>${obj.email} </td>
                <td>${obj.phone} </td>
                <td>${obj.address} </td>
                <td class="text-end num-space">${obj.balance}</td>
                <td>
                    <button  class="btn btn-outline-secondary edit" data-id="${obj.id}" >
                            <i class="far fa-edit"></i>
                    </button>
                    <button  class="btn btn-outline-success deposit" data-id="${obj.id}">
                                <i class="fas fa-plus"></i>
                    </button>
                    <button  class="btn btn-outline-warning withdraw" data-id="${obj.id}">
                            <i class="fa fa-minus"></i>
                    </button>
                    <button  class="btn btn-outline-primary transfer" data-id="${obj.id}">
                            <i class="fas fa-exchange-alt" ></i>
                    </button>
                    <button  class="btn btn-outline-danger delete" data-id="${obj.id}">
                            <i class="fas fa-ban" ></i>
                    </button>
                </td>
            </tr>`;
    }

    page.commands.getAllCustomers = () => {

        page.elements.tbCustomerBody.empty();

        $.ajax({
            type: 'GET',
            url: page.url.getAllCustomers
        })
            .done((data) => {
                data.forEach(item => {
                    const str = page.commands.renderCustomer(item);
                    page.elements.tbCustomerBody.prepend(str);
                });
            })
            .fail((error) => {
                console.log(error);
            })
    }
    page.commands.getCustomerById = (id) => {
        return $.ajax ({
            type: 'GET',
            url: page.url.getCustomerById + '/' + id,
        });
    }




    page.commands.handleAddEventShowModalUpdate = (customerId) => {

        page.commands.getCustomerById(customerId).then((data) =>{

            page.dialogs.elements.fullNameUpdate.val(data.fullName);
            page.dialogs.elements.emailUpdate.val(data.email);
            page.dialogs.elements.phoneUpdate.val(data.phone);
            page.dialogs.elements.addressUpdate.val(data.address);

            page.dialogs.elements.modalUpdate.modal('show');
        })
            .catch((error) => {
                console.log(error);
            });

    }
    page.commands.handleAddEventShowModalDeposit = (customerId) => {

        page.commands.getCustomerById(customerId).then((data) => {
            customer = data;
            page.dialogs.elements.fullNameDeposit.val(customer.fullName);
            page.dialogs.elements.emailDeposit.val(customer.email);
            page.dialogs.elements.balanceDeposit.val(customer.balance);
            page.dialogs.elements.transactionDeposit.val(0);

            page.dialogs.elements.modalDeposit.modal('show');
        })
            .catch((error) => {
                console.log(error);
            });
    }
    page.commands.handleAddEventShowModalWithdraw = (customerId) => {

        page.commands.getCustomerById(customerId).then((data) => {
            customer = data;
            page.dialogs.elements.fullNameWithdraw.val(customer.fullName);
            page.dialogs.elements.emailWithdraw.val(customer.email);
            page.dialogs.elements.balanceWithdraw.val(customer.balance);
            page.dialogs.elements.transactionWithdraw.val(0);

            page.dialogs.elements.modalWithdraw.modal('show');
        })
            .catch((error) => {
                console.log(error);
            });
    }
    page.commands.handleAddEventShowModalTransfer = (customerId) => {

        page.commands.getCustomerById(customerId).then((data) => {
            if (data != null) {
                page.dialogs.elements.senderId.val(data.id);
                page.dialogs.elements.senderFullName.val(data.fullName);
                page.dialogs.elements.senderEmail.val(data.email);
                page.dialogs.elements.senderBalance.val(data.balance);
                page.commands.getRecipients(customerId);

                page.dialogs.elements.transferAmount.val(0);
                page.dialogs.elements.fees.val(10);


                page.dialogs.elements.modalTransfer.modal('show');

            } else {
                App.showErrorAlert('Không tìm thấy khách hàng');
            }
        })
            .catch((error) => {
                console.log(error);
            });
    }

    page.dialogs.commands.create = () => {
        const fullName = page.dialogs.elements.fullNameCreate.val();
        const email = page.dialogs.elements.emailCreate.val();
        const phone = page.dialogs.elements.phoneCreate.val();
        const address = page.dialogs.elements.addressCreate.val();
        const balance = 0;
        const deleted = 0;

        const obj = {
            fullName,
            email,
            phone,
            address,
            balance,
            deleted
        }

        $.ajax({
            headers: {
                'accept': 'application/json',
                'content-type':  'application/json'
            },
            type: "POST",
            url: page.url.createCustomer,
            data: JSON.stringify(obj)
        })
            .done((data) => {
                const str = page.commands.renderCustomer(data);
                page.elements.tbCustomerBody.prepend(str);

                page.dialogs.elements.modalCreate.modal('hide');

                App.showSuccessAlert('Tạo khách hàng thành công');
                page.dialogs.commands.closeModalCreate();

            })
            .fail((jqXHR) => {
                const responseJSON = jqXHR.responseJSON;

                page.dialogs.elements.errorAreaCreate.empty();
                let str = '';

                $.each(responseJSON, (k, v) => {
                    str += `<label for="${k}Create">${v}</label>`
                })

                page.dialogs.elements.errorAreaCreate.append(str).removeClass('hide').addClass('show');

                console.log(jqXHR);
            });
    }
    page.dialogs.commands.update = () => {
        const fullName =  page.dialogs.elements.fullNameUpdate.val();
        const email =  page.dialogs.elements.emailUpdate.val();
        const phone =  page.dialogs.elements.phoneUpdate.val();
        const address = page.dialogs.elements.addressUpdate.val();

        customer.fullName = fullName;
        customer.email = email;
        customer.phone = phone;
        customer.address = address;

        $.ajax({
            headers: {
                'accept': 'application/json',
                'content-type': 'application/json'
            },
            type: 'PATCH',
            url: page.url.updateCustomer + '/' + customerId,
            data: JSON.stringify(customer)
        })
            .done((data) => {
                const str = page.commands.renderCustomer(data);

                const currentRow = $('#tr_' + customerId);
                currentRow.replaceWith(str);

                page.dialogs.elements.modalUpdate.modal('hide');

                App.showSuccessAlert('Đã cập nhật thông tin')

            })
            .fail((jqXHR) => {
                const responseJSON = jqXHR.responseJSON;

                page.dialogs.elements.errorAreaUpdate.empty();
                let str = '';

                $.each(responseJSON, (k, v) => {
                    str += `<label for="${k}Update">${v}</label>`
                })

                page.dialogs.elements.errorAreaUpdate.append(str).removeClass('hide').addClass('show');

                console.log(jqXHR);
            })
    }
    page.dialogs.commands.deposit = () => {
        const transactionAmount = page.dialogs.elements.transactionDeposit.val();
        const currentBalance = customer.balance;
        const newBalance = currentBalance + Number(transactionAmount);

        const obj = {
            customerId,
            transactionAmount
        }

        $.ajax({
            headers: {
                'accept': 'application/json',
                'content-type': 'application/json'
            },
            type: 'POST',
            url: page.url.deposit + '/' + customerId,
            data: JSON.stringify(obj)
        })
            .done((data) => {

                $.ajax({
                    headers: {
                        'accept': 'application/json',
                        'content-type': 'application/json'
                    },
                    type: 'PATCH',
                    url: page.url.updateBalance + '/' + customerId,
                    data: JSON.stringify(customer)
                })
                    .done((data) => {

                        const str = page.commands.renderCustomer(data);
                        const currentRow = $('#tr_' + customerId);
                        currentRow.replaceWith(str);


                        page.dialogs.elements.balanceDeposit.val(newBalance);

                        // page.dialogs.elements.modalDeposit.modal('hide');

                    })
                    .fail((error) => {
                        console.log(error);
                    })

                App.showSuccessAlert('Nạp tiền thành công');
            })
            .fail((jqXHR) => {
                const responseJSON = jqXHR.responseJSON;

                page.dialogs.elements.errorAreaDeposit.empty();
                let str = '';

                $.each(responseJSON, (k, v) => {
                    str += `<label for="${k}Deposit">${v}</label>`
                })

                page.dialogs.elements.errorAreaDeposit.append(str).removeClass('hide').addClass('show');

                console.log(jqXHR);
            })



    }
    page.dialogs.commands.withdraw = () => {
        const transactionAmount = page.dialogs.elements.transactionWithdraw.val();
        const currentBalance = customer.balance;
        const newBalance = currentBalance - Number(transactionAmount);

        const obj = {
            customerId,
            transactionAmount
        }
        $.ajax({
            headers: {
                'accept': 'application/json',
                'content-type': 'application/json'
            },
            type: 'POST',
            url: page.url.withdraw + '/' + customerId,
            data: JSON.stringify(obj)
        })
            .done((data) => {
                $.ajax({
                    headers: {
                        'accept': 'application/json',
                        'content-type': 'application/json'
                    },
                    type: 'PATCH',
                    url: page.url.updateBalance + '/' + customerId,
                    data: JSON.stringify(customer)
                })
                    .done((data) => {

                        const str = page.commands.renderCustomer(data);
                        const currentRow = $('#tr_' + customerId);
                        currentRow.replaceWith(str);

                        page.dialogs.elements.balanceWithdraw.val(newBalance);

                        // page.dialogs.elements.modalWithdraw.modal('hide');

                    })
                    .fail((error) => {
                        console.log(error);
                    })

                App.showSuccessAlert('Rút tiền thành công');

            })
            .fail((jqXHR) => {
                const responseJSON = jqXHR.responseJSON;

                page.dialogs.elements.errorAreaWithdraw.empty();
                let str = '';

                $.each(responseJSON, (k, v) => {
                    str += `<label for="${k}Withdraw">${v}</label>`
                })

                page.dialogs.elements.errorAreaWithdraw.append(str).removeClass('hide').addClass('show');

                console.log(jqXHR);
            })





    }
    page.dialogs.commands.transfer = () => {
        page.commands.getCustomerById(customerId).then((data) => {
            let sender = data;
            let senderBalance = sender.balance;
            const transferAmount = +$('#transferAmount').val();
            const fees = 10;
            const feesAmount = transferAmount * fees / 100;
            const transactionAmount = transferAmount + feesAmount;
            const senderNewBalance = senderBalance - transactionAmount;


            const recipientId = +$("#recipientId").val();
            console.log(recipientId);
            page.commands.getCustomerById(recipientId).then((data) => {
                let recipient = data;
                const recipientBalance = recipient.balance;
                const recipientNewBalance = recipientBalance + transferAmount;

                if (sender.id === recipient.id) {
                    $("#transfer-name-error").text("Người nhận không hợp lệ");
                } else {

                    if (!isNaN(transferAmount)) {
                        if (transferAmount <= 0) {
                            $("#transfer-error").text("Số tiền phải > 0");
                        } else {

                            if (transactionAmount > 500000000) {
                                $("#transfer-error").text("Số tiền giao dịch tối đa 500.000.000");
                            } else {
                                if (transactionAmount > sender.balance) {
                                    $("#transfer-error").text("Số dư không đủ để thực hiện giao dịch");
                                } else {

                                    sender.balance = senderNewBalance;
                                    recipient.balance = recipientNewBalance;

                                    transfer = {
                                        senderId: sender.id,
                                        recipientId: recipient.id,
                                        fees,
                                        transferAmount,
                                        feesAmount,
                                        transactionAmount
                                    }

                                    $.ajax({
                                        headers: {
                                            'accept': 'application/json',
                                            'content-type': 'application/json'
                                        },
                                        type: 'PATCH',
                                        url: page.url.updateBalance + '/' + recipient.id,
                                        data: JSON.stringify(recipient)
                                    })
                                        .done((data) => {
                                            const str = page.commands.renderCustomer(data);
                                            const currentRow = $('#tr_' + recipient.id);
                                            currentRow.replaceWith(str);
                                        })
                                        .fail((error) => {
                                            console.log(error);
                                        })

                                    $.ajax({
                                        headers: {
                                            'accept': 'application/json',
                                            'content-type': 'application/json'
                                        },
                                        type: 'PATCH',
                                        url: page.url.updateBalance + '/' + sender.id,
                                        data: JSON.stringify(sender)
                                    })
                                        .done((data) => {
                                            const str = page.commands.renderCustomer(data);
                                            const currentRow = $('#tr_' + sender.id);
                                            currentRow.replaceWith(str);

                                            $("#senderBalance").val(senderNewBalance);
                                            $("#transfer-error").text("");
                                            $("#transfer-name-error").text("");


                                            page.dialogs.elements.modalTransfer.modal('hide');

                                            App.showSuccessAlert('Chuyển tiền thành công');
                                        })
                                        .fail((error) => {
                                            console.log(error);
                                        })

                                    $.ajax({
                                        type: 'POST',
                                        headers: {
                                            'accept': 'application/json',
                                            'content-type': 'application/json'
                                        },
                                        url: 'http://localhost:3000/transfers',
                                        data: JSON.stringify(transfer)
                                    })
                                }

                            }
                        }

                    } else {
                        $("#transfer-error").text("Sai định dạng");
                    }
                }
            });
        })


    }

    page.initializeControlEvent = () => {
        page.elements.btnShowCreateModal.on('click', () => {
            page.dialogs.elements.modalCreate.modal('show');
        })

        page.dialogs.elements.btnCreate.on('click', () => {
            page.dialogs.elements.formCreate.trigger("submit");
        })
        page.dialogs.commands.closeModalCreate = () => {
            page.dialogs.elements.formCreate[0].reset();
        }

        page.elements.tbCustomerBody.on('click', '.edit', function () {
            customerId = $(this).data('id');
            page.commands.handleAddEventShowModalUpdate(customerId);
        })

        page.elements.tbCustomerBody.on('click', '.deposit', function () {
            customerId = $(this).data('id');
            page.commands.handleAddEventShowModalDeposit(customerId);
        })
        page.elements.tbCustomerBody.on('click', '.withdraw', function () {
            customerId = $(this).data('id');
            page.commands.handleAddEventShowModalWithdraw(customerId);
        })
        page.elements.tbCustomerBody.on('click', '.transfer', function () {
            customerId = $(this).data('id');
            page.commands.handleAddEventShowModalTransfer(customerId);
        })
        page.elements.tbCustomerBody.on('click', '.delete', function () {
            customerId = $(this).data('id');
            page.commands.handleDeleteCustomer(customerId);
        })

        /** Update */

        page.dialogs.elements.btnUpdate.on('click', ()  => {
            page.dialogs.elements.formUpdate.trigger("submit");
        })

        /** Deposit */

        page.dialogs.elements.btnDeposit.on('click', () => {
            page.dialogs.elements.formDeposit.trigger("submit");
        })

        /** Withdraw */

        page.dialogs.elements.btnWithdraw.on('click', () => {
            page.dialogs.elements.formWithdraw.trigger("submit");
        })
        /** Transfer */

        page.dialogs.elements.btnTransfer.on('click', () => {

            page.dialogs.elements.formTransfer.trigger("submit");
        })


        /** Đóng modal: reset form */
        page.dialogs.elements.modalCreate.on("hidden.bs.modal", function () {
            page.dialogs.commands.closeModalCreate();
        })

    }


    page.loadData = () => {
        page.commands.getAllCustomers();
    }

    //Validate
    page.dialogs.elements.formCreate.validate({
        rules: {
            fullNameCreate: {
                required: true,
            },
            emailCreate: {
                required: true,
                maxlength: 30,
            }
        },
        messages: {
            fullNameCreate: {
                required: 'Tên là bắt buộc',
            },
            emailCreate: {
                required: 'Email là bắt buộc',
                maxlength: 'Email tối đa 30 ký tự'
            }
        },
        errorLabelContainer: "#modalCreate .error-area",
        errorPlacement: function (error, element) {
            error.appendTo("#modalCreate .error-area");
        },
        showErrors: function(errorMap, errorList) {
            if (this.numberOfInvalids() > 0) {
                page.dialogs.elements.errorAreaCreate.removeClass("hide").addClass("show");
            } else {
                page.dialogs.elements.errorAreaCreate.removeClass("show").addClass("hide").empty();
                page.dialogs.elements.errorAreaCreate.removeClass("error");
            }
            this.defaultShowErrors();
        },
        submitHandler: function () {
            page.dialogs.commands.create();
        }
    });
    page.dialogs.elements.formUpdate.validate({
        rules: {
            fullNameUpdate: {
                required: true,
            },
            emailUpdate: {
                required: true,
                maxlength: 30
            }
        },
        messages: {
            fullNameUpdate: {
                required: 'Tên là bắt buộc',
            },
            emailUpdate: {
                required: 'Email là bắt buộc',
                maxlength: 'Email tối đa 30 ký tự'
            }
        },
        errorLabelContainer: "#modalUpdate .error-area",
        errorPlacement: function (error, element) {
            error.appendTo("#modalUpdate .error-area");
        },
        showErrors: function(errorMap, errorList) {
            if (this.numberOfInvalids() > 0) {
                page.dialogs.elements.errorAreaUpdate.removeClass("hide").addClass("show");
            } else {
                page.dialogs.elements.errorAreaUpdate.removeClass("show").addClass("hide").empty();
                page.dialogs.elements.errorAreaUpdate.removeClass("error");
            }
            this.defaultShowErrors();
        },
        submitHandler: function () {
            page.dialogs.commands.update();
        }
    });
    page.dialogs.elements.formDeposit.validate({
        rules: {
            transactionDeposit: {
                required: true,
                number: true,
                maxlength: 15
            }
        },
        messages: {
            transactionDeposit: {
                required: 'Số tiền không được để trống',
                // number: 'Vui lòng nhập số',
                // maxlength: 'Tối đa 15 chữ số'
            }
        },
        errorLabelContainer: "#modalDeposit .error-area",
        errorPlacement: function (error, element) {
            error.appendTo("#modalDeposit .error-area");
        },
        showErrors: function(errorMap, errorList) {
            if (this.numberOfInvalids() > 0) {
                page.dialogs.elements.errorAreaDeposit.removeClass("hide").addClass("show");
            } else {
                page.dialogs.elements.errorAreaDeposit.removeClass("show").addClass("hide").empty();
                page.dialogs.elements.errorAreaDeposit.removeClass("error");
            }
            this.defaultShowErrors();
        },
        submitHandler: function () {
                page.dialogs.commands.deposit();
        }
    });
    page.dialogs.elements.formWithdraw.validate({
        rules: {
            transactionWithdraw: {
                required: true,
                number: true,
                maxlength: 15,
            }
        },
        messages: {
            transactionWithdraw: {
                required: 'Số tiền không được để trống',
                // number: 'Vui lòng nhập số',
                // maxlength: 'Tối đa 15 chữ số',
            }
        },
        errorLabelContainer: "#modalWithdraw .error-area",
        errorPlacement: function (error, element) {
            error.appendTo("#modalWithdraw .error-area");
        },
        showErrors: function(errorMap, errorList) {
            if (this.numberOfInvalids() > 0) {
                page.dialogs.elements.errorAreaWithdraw.removeClass("hide").addClass("show");
            } else {
                page.dialogs.elements.errorAreaWithdraw.removeClass("show").addClass("hide").empty();
                page.dialogs.elements.errorAreaWithdraw.removeClass("error");
            }
            this.defaultShowErrors();
        },
        submitHandler: function () {
            page.dialogs.commands.withdraw();
        }
    });
    $(() => {
        page.loadData();

        page.initializeControlEvent();
    })


    function handleTotalAmountTransaction(element) {
        let transferAmount = Number(element.value);
        let fees = 10;
        let feesAmount = fees * transferAmount * 0.01;
        document.getElementById("transactionAmount").value = transferAmount + feesAmount;
    }
</script>
</body>
</html>