<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create customer</title>
    <!--    Ten thu muc/ ten file html :: ten fragment-->
    <!--    head-css-->
    <th:block th:replace="layout/head :: head-1"/>
    <!--    head-css-->

</head>
<body>
<!-- Begin page -->
<div id="wrapper">
    <!--    header-->
    <th:block th:replace="layout/header"/>
    <!--    header-->

    <!--    left-side-->
    <th:block th:replace="layout/left"/>
    <!--    left-side-->


    <div class="content-page">
        <div class="content">
            <!--    page content-->
            <div class="container-fluid">
                <!-- start page title -->
                <h1 class="text-center">Create Customer</h1>
                <!-- end page title -->
<!--                <div class="alert alert-danger">-->
<!--                    <ul>-->
<!--                        <li>Thông báo lỗi</li>-->
<!--                    </ul>-->
<!--                </div>-->

<!--                <div class="alert alert-success text-center">-->
<!--                    <span class="message">Thành công</span>-->
<!--                </div>-->
                <!--                Start row-->
                <div class="container justify-center col-10">
                    <form th:object="${customer}" method="post">
                        <fieldset>
                            <table class="table table-striped table-hover">
                                <tr>
                                    <td class="col-2">Full Name: </td>
                                    <td><input type="text" name="fullName" id="fullName" class="form-control" required></td>
                                </tr>
                                <tr>
                                    <td>Email: </td>
                                    <td><input type="text" name="email" id="email" class="form-control" required></td>
                                </tr>
                                <tr>
                                    <td>Phone: </td>
                                    <td><input type="tel" name="phone" id="phone" class="form-control" required></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><input type="submit" value="Create" class="btn btn-primary"></td>
                                </tr>
                            </table>
                        </fieldset>
                    </form>
                </div>
                <!--                End row-->

            </div>
            <!--    page content-->
        </div>
    </div>

    <!--    footer-->
    <th:block th:replace="layout/footer"/>
    <!--    footer-->

    <!--    footer-javaScript-->
    <th:block th:replace="layout/footer-js"/>
    <!--    footer-javaScript-->
</div>
</body>
</html>