<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/bootstrap/v5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/fontawesome/v5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/assets/sweetalert2/v11.7.12/sweetalert2.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <script src="/assets/bootstrap/v5.3.0/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div class="container-fluid">
    <header>
        <div class="col-lg-6">
            <h1>List of customer </h1>
        </div>
        <div class="col-lg-6 header-right-button">
            <a href="#">
                <button class="btn btn-outline-light">
                    <i class="fas fa-history"></i>
                    Transfer histories
                </button>
            </a>
            <button class="btn btn-outline-light" id="btnShowCreateModal">
                <i class="fas fa-user-plus"></i>
                Add new customer
            </button>
        </div>
    </header>

    <div class="content">
        <table id="tbCustomer" class="table table-hover">
            <thead>
            <tr>
                <th></th>
                <th>#</th>
                <th>FullName</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Balance</th>
                <th>Province</th>
                <th>District</th>
                <th>Ward</th>
                <th>Address</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>

<footer class="container-fluid">

</footer>

<th:block th:replace="customer/modalCreate"/>
<th:block th:replace="customer/modalUpdate"/>
<th:block th:replace="customer/modalDeposit"/>
<th:block th:replace="customer/modalWithdraw"/>
<th:block th:replace="customer/modalTransfer"/>

<script src="/assets/js/jquery-3.6.0.min.js"></script>
<script src="/assets/sweetalert2/v11.7.12/sweetalert2.all.min.js"></script>
<script src="/assets/js/jquery.validate.min.js"></script>
<script src="/assets/js/jquery.number.js"></script>
<script src="/assets/js/app.js"></script>


<script>


    const page = {
        url: {
            getAllProvinces: App.API_LOCATION_REGION + '/',
            getALlDistricts: App.API_LOCATION_REGION + '/district',
            getAllWards: App.API_LOCATION_REGION + '/ward',

            getAllCustomers: App.API_CUSTOMER,
            getALlRecipients: App.API_CUSTOMER + '/recipients',
            createCustomer: App.API_CUSTOMER,
            getCustomerById: App.API_CUSTOMER,
            updateCustomer: App.API_CUSTOMER,
            updateBalance: App.API_CUSTOMER,
            deposit: App.API_DEPOSIT,
            withdraw: App.API_WITHDRAW,
            transfer: App.API_TRANSFER,
            deleteCustomer: App.API_CUSTOMER + '/delete/',
        },
        elements: {},
        loadData: {},
        commands: {},
        dialogs: {
            elements: {},
            commands: {}
        },
        initializeControlEvent: {}

    }


    /** Khai báo biến chứa dữ liệu table */
    page.elements.btnShowCreateModal = $('#btnShowCreateModal');
    page.elements.tbCustomerBody = $("#tbCustomer tbody");

    /** Khai báo biến chứa dữ liệu modal Create */

    page.dialogs.elements.modalCreate = $('#modalCreate');
    page.dialogs.elements.formCreate = $('#formCreate');
    page.dialogs.elements.errorAreaCreate = $('#modalCreate .error-area')

    page.dialogs.elements.fullNameCreate = $('#fullNameCreate');
    page.dialogs.elements.emailCreate = $('#emailCreate');
    page.dialogs.elements.phoneCreate = $('#phoneCreate');
    page.dialogs.elements.provinceCreate = $('#provinceCreate')
    page.dialogs.elements.districtCreate = $('#districtCreate')
    page.dialogs.elements.wardCreate = $('#wardCreate')
    page.dialogs.elements.addressCreate = $('#addressCreate')
    page.dialogs.elements.btnCreate = $('#btnCreate');

    /** Khai báo biến chứa dữ liệu modal Update */

    page.dialogs.elements.modalUpdate = $('#modalUpdate');
    page.dialogs.elements.formUpdate = $('#formUpdate');
    page.dialogs.elements.errorAreaUpdate = $('#modalUpdate .error-area')

    page.dialogs.elements.fullNameUpdate = $('#fullNameUpdate');
    page.dialogs.elements.emailUpdate = $('#emailUpdate');
    page.dialogs.elements.phoneUpdate = $('#phoneUpdate');
    page.dialogs.elements.provinceUpdate = $('#provinceUpdate')
    page.dialogs.elements.districtUpdate = $('#districtUpdate')
    page.dialogs.elements.wardUpdate = $('#wardUpdate')
    page.dialogs.elements.addressUpdate = $('#addressUpdate');
    page.dialogs.elements.btnUpdate = $('#btnUpdate');

    /** Khai báo biến chứa dữ liệu modal Deposit */

    page.dialogs.elements.modalDeposit = $('#modalDeposit');
    page.dialogs.elements.formDeposit = $('#formDeposit');
    page.dialogs.elements.errorAreaDeposit = $('#modalDeposit .error-area')


    page.dialogs.elements.fullNameDeposit = $('#fullNameDeposit');
    page.dialogs.elements.emailDeposit = $('#emailDeposit');
    page.dialogs.elements.balanceDeposit = $('#balanceDeposit');
    page.dialogs.elements.transactionDeposit = $('#transactionDeposit');
    page.dialogs.elements.btnDeposit = $('#btnDeposit');

    /** Khai báo biến chứa dữ liệu modal Withdraw */

    page.dialogs.elements.modalWithdraw = $('#modalWithdraw');
    page.dialogs.elements.formWithdraw = $('#formWithdraw');
    page.dialogs.elements.errorAreaWithdraw = $('#formWithdraw .error-area');


    page.dialogs.elements.fullNameWithdraw = $('#fullNameWithdraw');
    page.dialogs.elements.emailWithdraw = $('#emailWithdraw');
    page.dialogs.elements.balanceWithdraw = $('#balanceWithdraw');
    page.dialogs.elements.transactionWithdraw = $('#transactionWithdraw');
    page.dialogs.elements.btnWithdraw = $('#btnWithdraw');

    /** Khai báo biến chứa dữ liệu modal Transfer */

    page.dialogs.elements.modalTransfer = $('#modalTransfer');
    page.dialogs.elements.formTransfer = $('#formTransfer');
    page.dialogs.elements.errorAreaTransfer = $('#formTransfer .error-area');

    page.dialogs.elements.senderId = $('#senderId');
    page.dialogs.elements.senderFullName = $('#senderFullName');
    page.dialogs.elements.senderEmail = $('#senderEmail');
    page.dialogs.elements.senderBalance = $('#senderBalance');
    page.dialogs.elements.transferAmount = $('#transferAmount');
    page.dialogs.elements.fees = $('#fees');
    page.dialogs.elements.recipients = $("#recipientId");

    page.dialogs.elements.btnTransfer = $('#btnTransfer');


    page.elements.footer = $('footer');

    let locationRegion = new LocationRegion();
    let customerId = 0;
    let customer = new Customer();
    let deposit = new Deposit();
    let withdraw = new Withdraw();
    let transfer = new Transfer();

    page.commands.renderCustomer = (customer, locationRegion) => {
        return `
            <tr id="tr_${customer.id}">
                <td><span class="select-tab unselected"></span></td>
                <td>${customer.id} </td>
                <td>${customer.fullName} </td>
                <td class="text-center">${customer.email} </td>
                <td class="text-center">${customer.phone} </td>
                <td class="text-end num-space">${customer.balance}</td>
                <td>${locationRegion.provinceName}</td>
                <td>${locationRegion.districtName}</td>
                <td>${locationRegion.wardName}</td>
                <td>${locationRegion.address}</td>
            </tr>`;
    }
    page.commands.renderRecipient = (customer) => {
        return `
            <option value="${customer.id}">(${customer.id}) ${customer.fullName}</option>
        `;
    }
    page.commands.renderFooter = (customerId) => {
        return `
                <div class="container">
                    <button  class="btn btn-secondary edit" data-id="${customerId}" >
                            <i class="far fa-edit"></i> Edit
                    </button>
                    <button  class="btn btn-success deposit" data-id="${customerId}">
                                <i class="fas fa-plus"></i> Deposit
                    </button>
                    <button  class="btn btn-warning withdraw" data-id="${customerId}">
                            <i class="fa fa-minus"></i> Withdraw
                    </button>
                    <button  class="btn btn-primary transfer" data-id="${customerId}">
                            <i class="fas fa-exchange-alt" ></i> Transfer
                    </button>
                    <button  class="btn btn-danger delete" data-id="${customerId}">
                            <i class="fas fa-ban" ></i> Suspend
                    </button>
                </div>
        `;
    }

    page.commands.getAllCustomers = () => {
        page.elements.tbCustomerBody.empty();

        $.ajax({
            type: 'GET',
            url: page.url.getAllCustomers
        })
            .done((data) => {
                data.forEach(item => {
                    customer = item;
                    locationRegion = customer.locationRegion;

                    const str = page.commands.renderCustomer(customer, locationRegion);
                    page.elements.tbCustomerBody.prepend(str);
                });
            })
            .fail((error) => {
                console.log(error);
            })
    }
    page.commands.getCustomerById = (id) => {
        return $.ajax({
            type: 'GET',
            url: page.url.getCustomerById + '/' + id,
        });
    }
    page.commands.getALlRecipients = (senderId) => {
        $.ajax({
            type: 'GET',
            url: page.url.getALlRecipients + senderId,

        })
            .done((data) => {
                page.dialogs.elements.recipients.empty();
                $("<option>").val("-1").text('--- Chọn người nhận ---').appendTo("#recipientId");

                data.forEach((item) => {
                    if (item.id !== customerId)
                        $("<option>").val(item.id).text('(' + item.id + ') ' + item.fullName).appendTo("#recipientId");
                });
            })
            .fail((error) => {
                console.log(error);
            })
    }
    page.commands.getAllProvinces = () => {

        return   $.ajax({
                    type: 'GET',
                    url: page.url.getAllProvinces
                 })
                    .done((data) => {
                        const provinces = data.results;
                        page.dialogs.elements.provinceCreate.empty();

                        $.each(provinces, (index, item) => {
                            const str = `<option value="${item.province_id}">${item.province_name}</option>`
                            page.dialogs.elements.provinceCreate.append(str);
                        })
                    })
    }

    page.commands.getALlDistricts = (provinceId) => {
        return $.ajax({
            type: 'GET',
            url: page.url.getALlDistricts + '/' + provinceId
        })
            .done((data) => {
                const districts = data.results;
                page.dialogs.elements.districtCreate.empty();

                $.each(districts, (index, item) => {
                    const str = `<option value="${item.district_id}">${item.district_name}</option>`;
                    page.dialogs.elements.districtCreate.append(str);
                });
            })
    }
    page.commands.getAllWards = (districtId) => {
        $.ajax({
            type: 'GET',
            url: page.url.getAllWards + '/' + districtId
        })
            .done((data) => {
                const wards = data.results;

                page.dialogs.elements.wardCreate.empty();

                $.each(wards, (index, item) => {
                    const str = `<option value="${item.ward_id}">${item.ward_name}</option>`;
                    page.dialogs.elements.wardCreate.append(str);
                });
            })
    }
    page.commands.handleAddEventShowModalUpdate = (customerId) => {

        page.commands.getCustomerById(customerId).then((data) => {

            page.dialogs.elements.fullNameUpdate.val(data.fullName);
            page.dialogs.elements.emailUpdate.val(data.email);
            page.dialogs.elements.phoneUpdate.val(data.phone);
            page.dialogs.elements.provinceUpdate.val(data.locationRegion.provinceId);
            page.dialogs.elements.districtUpdate.val(data.locationRegion.districtId);
            page.dialogs.elements.wardUpdate.val(data.locationRegion.wardId);
            page.dialogs.elements.addressUpdate.val(data.locationRegion.address);

            page.dialogs.elements.modalUpdate.modal('show');
        })
            .catch((error) => {
                console.log(error);
            });
    }
    page.commands.handleAddEventShowModalDeposit = (customerId) => {

        page.commands.getCustomerById(customerId).then((data) => {
            customer = data;
            page.dialogs.elements.fullNameDeposit.val(customer.fullName);
            page.dialogs.elements.emailDeposit.val(customer.email);
            page.dialogs.elements.balanceDeposit.val(customer.balance);
            page.dialogs.elements.transactionDeposit.val(0);

            page.dialogs.elements.modalDeposit.modal('show');
        })
            .catch((error) => {
                console.log(error);
            });
    }
    page.commands.handleAddEventShowModalWithdraw = (customerId) => {

        page.commands.getCustomerById(customerId).then((data) => {
            customer = data;
            page.dialogs.elements.fullNameWithdraw.val(customer.fullName);
            page.dialogs.elements.emailWithdraw.val(customer.email);
            page.dialogs.elements.balanceWithdraw.val(customer.balance);
            page.dialogs.elements.transactionWithdraw.val(0);

            page.dialogs.elements.modalWithdraw.modal('show');
        })
            .catch((error) => {
                console.log(error);
            });
    }
    page.commands.handleAddEventShowModalTransfer = (customerId) => {

        page.commands.getCustomerById(customerId).then((data) => {
                page.dialogs.elements.senderId.val(data.id);
                page.dialogs.elements.senderFullName.val(data.fullName);
                page.dialogs.elements.senderEmail.val(data.email);
                page.dialogs.elements.senderBalance.val(data.balance);
                page.commands.getRecipients(customerId);

                page.dialogs.elements.transferAmount.val(0);
                page.dialogs.elements.fees.val(10);


                page.dialogs.elements.modalTransfer.modal('show');

        })
            .catch((error) => {
                console.log(error);
            });
    }
    page.commands.handleDeleteCustomer = (customerId) => {

        App.showDeleteConfirmDialog().then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    type: 'PATCH',
                    url: page.url.deleteCustomer + customerId,
                    data: {
                        deleted: 1
                    }
                })
                    .done(() => {
                        $('#tr_' + customerId).remove();
                        App.showSuccessAlert('Xoá thành công');
                    })
            }
        })
    }


    page.dialogs.commands.create = () => {
        const provinceId = page.dialogs.elements.provinceCreate.val();
        const provinceName = page.dialogs.elements.provinceCreate.find('option:selected').text();
        const districtId = page.dialogs.elements.districtCreate.val();
        const districtName = page.dialogs.elements.districtCreate.find('option:selected').text();
        const wardId = page.dialogs.elements.wardCreate.val();
        const wardName = page.dialogs.elements.wardCreate.find('option:selected').text();
        const address = page.dialogs.elements.addressCreate.val();

        locationRegion.provinceId = provinceId;
        locationRegion.provinceName = provinceName;
        locationRegion.districtId = districtId;
        locationRegion.districtName = districtName;
        locationRegion.wardId = wardId;
        locationRegion.wardName = wardName;
        locationRegion.address = address;

        const fullName = page.dialogs.elements.fullNameCreate.val();
        const email = page.dialogs.elements.emailCreate.val();
        const phone = page.dialogs.elements.phoneCreate.val();

        customer.fullName = fullName;
        customer.email = email;
        customer.phone = phone;
        customer.locationRegion = locationRegion;

        $.ajax({
            headers: {
                'accept': 'application/json',
                'content-type': 'application/json'
            },
            type: "POST",
            url: page.url.createCustomer,
            data: JSON.stringify(customer)
        })
            .done((data) => {
                const str = page.commands.renderCustomer(data, locationRegion);
                page.elements.tbCustomerBody.prepend(str);

                page.dialogs.elements.modalCreate.modal('hide');

                App.showSuccessAlert('Tạo khách hàng thành công');

            })
            .fail((jqXHR) => {
                const responseJSON = jqXHR.responseJSON;

                page.dialogs.elements.errorAreaCreate.empty();
                let str = '';

                $.each(responseJSON, (k, v) => {
                    str += `<label for="${k}Create">${v}</label>`
                })

                page.dialogs.elements.errorAreaCreate.append(str).removeClass('hide').addClass('show');

                console.log(jqXHR);
            });
    }
    page.dialogs.commands.update = () => {
        const fullName = page.dialogs.elements.fullNameUpdate.val();
        const email = page.dialogs.elements.emailUpdate.val();
        const phone = page.dialogs.elements.phoneUpdate.val();
        const address = page.dialogs.elements.addressUpdate.val();

        customer.fullName = fullName;
        customer.email = email;
        customer.phone = phone;
        customer.address = address;

        $.ajax({
            headers: {
                'accept': 'application/json',
                'content-type': 'application/json'
            },
            type: 'PATCH',
            url: page.url.updateCustomer + '/' + customerId,
            data: JSON.stringify(customer)
        })
            .done((data) => {
                const str = page.commands.renderCustomer(data, locationRegion);

                const currentRow = $('#tr_' + customerId);
                currentRow.replaceWith(str);

                page.dialogs.elements.modalUpdate.modal('hide');

                App.showSuccessAlert('Đã cập nhật thông tin')

            })
            .fail((jqXHR) => {
                const responseJSON = jqXHR.responseJSON;

                page.dialogs.elements.errorAreaUpdate.empty();
                let str = '';

                $.each(responseJSON, (k, v) => {
                    str += `<label for="${k}Update">${v}</label>`
                })

                page.dialogs.elements.errorAreaUpdate.append(str).removeClass('hide').addClass('show');

                console.log(jqXHR);
            })
    }
    page.dialogs.commands.deposit = () => {
        const transactionAmount = page.dialogs.elements.transactionDeposit.val();
        const currentBalance = customer.balance;
        const newBalance = currentBalance + Number(transactionAmount);

        const obj = {
            customerId,
            transactionAmount
        }

        $.ajax({
            headers: {
                'accept': 'application/json',
                'content-type': 'application/json'
            },
            type: 'POST',
            url: page.url.deposit + '/' + customerId,
            data: JSON.stringify(obj)
        })
            .done((data) => {

                const str = page.commands.renderCustomer(data, locationRegion);
                const currentRow = $('#tr_' + customerId);
                currentRow.replaceWith(str);

                page.dialogs.elements.balanceDeposit.val(newBalance);

                App.showSuccessAlert('Nạp tiền thành công');
            })
            .fail((jqXHR) => {
                const responseJSON = jqXHR.responseJSON;

                page.dialogs.elements.errorAreaDeposit.empty();
                let str = '';

                $.each(responseJSON, (k, v) => {
                    str += `<label for="${k}Deposit">${v}</label>`
                })

                page.dialogs.elements.errorAreaDeposit.append(str).removeClass('hide').addClass('show');

                console.log(jqXHR);
            })


    }
    page.dialogs.commands.withdraw = () => {
        const transactionAmount = page.dialogs.elements.transactionWithdraw.val();
        const currentBalance = customer.balance;
        const newBalance = currentBalance - Number(transactionAmount);

        const obj = {
            customerId,
            transactionAmount
        }
        $.ajax({
            headers: {
                'accept': 'application/json',
                'content-type': 'application/json'
            },
            type: 'POST',
            url: page.url.withdraw + '/' + customerId,
            data: JSON.stringify(obj)
        })
            .done((data) => {

                const str = page.commands.renderCustomer(data, locationRegion);
                const currentRow = $('#tr_' + customerId);
                currentRow.replaceWith(str);

                page.dialogs.elements.balanceWithdraw.val(newBalance);

                App.showSuccessAlert('Rút tiền thành công');

            })
            .fail((jqXHR) => {
                const responseJSON = jqXHR.responseJSON;

                page.dialogs.elements.errorAreaWithdraw.empty();
                let str = '';

                $.each(responseJSON, (k, v) => {
                    str += `<label for="${k}Withdraw">${v}</label>`
                })

                page.dialogs.elements.errorAreaWithdraw.append(str).removeClass('hide').addClass('show');

                console.log(jqXHR);
            })


    }
    page.dialogs.commands.transfer = () => {
            const transferAmount = page.dialogs.elements.transferAmount.val();
            const recipientId = page.dialogs.elements.recipients.val();

                const obj = {
                    senderId: customerId,
                    recipientId: recipientId,
                    transferAmount,
                }

            $.ajax({
                type: 'POST',
                headers: {
                    'accept': 'application/json',
                    'content-type': 'application/json'
                },
                url: page.url.transfer + '/'  + customerId,
                data: JSON.stringify(obj)
            })
                .done((data) => {
                    for (let i = 0; i < data.length; i++) {
                        let str = page.commands.renderCustomer(data[i], locationRegion);
                        let currentRow = $('#tr_' + data[i].id);
                        currentRow.replaceWith(str);
                    }
                    // $.each(data, (index, item) => {
                    //     let str = page.commands.renderCustomer(item, item.locationRegion);
                    //     let currentRow = $('#tr_' + item.id);
                    //     currentRow.replaceWith(str);
                    // })

                    // $("#senderBalance").val(senderNewBalance);

                    page.dialogs.elements.modalTransfer.modal('hide');

                    App.showSuccessAlert('Chuyển tiền thành công');
                })
                .fail((jqXHR) => {
                    const responseJSON = jqXHR.responseJSON;

                    page.dialogs.elements.errorAreaTransfer.empty();
                    let str = '';

                    $.each(responseJSON, (k, v) => {
                        str += `<label for="${k}Transfer">${v}</label>`
                    })

                    page.dialogs.elements.errorAreaTransfer.append(str).removeClass('hide').addClass('show');

                    console.log(jqXHR);
                })
    }

    page.initializeControlEvent = () => {
        page.elements.tbCustomerBody.on('click', 'tr', function () {
            page.elements.tbCustomerBody.find('span').removeClass('selected').addClass('unselected');
            $(this).find('span').removeClass('unselected').addClass('selected');

            const customerId = $(this).attr('id').replace('tr_', '');

            const str = page.commands.renderFooter(customerId);
            page.elements.footer.empty().append(str);

            page.elements.footer.on('click','.edit',function () {
                page.commands.handleAddEventShowModalUpdate(customerId);
            })
        })
        page.dialogs.elements.provinceCreate.on('change', function () {
            const provinceId = $(this).val();
            page.commands.getALlDistricts(provinceId).then(() => {
                const districtId =  page.dialogs.elements.districtCreate.val();
                page.commands.getAllWards((districtId));
            })
        })
        page.dialogs.elements.districtCreate.on('change', function () {
            const districtId = $(this).val();
            page.commands.getAllWards(districtId);
        })

        page.elements.btnShowCreateModal.on('click', () => {
            page.dialogs.elements.modalCreate.modal('show');
        })

        page.dialogs.elements.btnCreate.on('click', () => {
            page.dialogs.elements.formCreate.trigger("submit");
        })
        // Reset form
        page.dialogs.commands.closeModalCreate = () => {
            page.dialogs.elements.formCreate[0].reset();
        }
        page.dialogs.commands.closeModalUpdate = () => {
            page.dialogs.elements.formUpdate[0].reset();
        }
        page.dialogs.commands.closeModalDeposit = () => {
            page.dialogs.elements.formDeposit[0].reset();
        }
        page.dialogs.commands.closeModalWithdraw = () => {
            page.dialogs.elements.formWithdraw[0].reset();
        }
        page.dialogs.commands.closeModalTransfer = () => {
            page.dialogs.elements.formTransfer[0].reset();
        }
        /**************** AddEvent **************/

        page.elements.tbCustomerBody.on('click', '.edit', function () {
            customerId = $(this).data('id');
            page.commands.handleAddEventShowModalUpdate(customerId);
        })

        page.elements.tbCustomerBody.on('click', '.deposit', function () {
            customerId = $(this).data('id');
            page.commands.handleAddEventShowModalDeposit(customerId);
        })
        page.elements.tbCustomerBody.on('click', '.withdraw', function () {
            customerId = $(this).data('id');
            page.commands.handleAddEventShowModalWithdraw(customerId);
        })
        page.elements.tbCustomerBody.on('click', '.transfer', function () {
            customerId = $(this).data('id');
            page.commands.handleAddEventShowModalTransfer(customerId);
        })
        page.elements.tbCustomerBody.on('click', '.delete', function () {
            customerId = $(this).data('id');
            page.commands.handleDeleteCustomer(customerId);
        })

        /** Update */

        page.dialogs.elements.btnUpdate.on('click', () => {
            page.dialogs.elements.formUpdate.trigger("submit");
        })

        /** Deposit */

        page.dialogs.elements.btnDeposit.on('click', () => {
            page.dialogs.elements.formDeposit.trigger("submit");
        })

        /** Withdraw */

        page.dialogs.elements.btnWithdraw.on('click', () => {
            page.dialogs.elements.formWithdraw.trigger("submit");
        })
        /** Transfer */

        page.dialogs.elements.btnTransfer.on('click', () => {
            page.dialogs.elements.formTransfer.trigger("submit");
        })


        /** Đóng modal: reset form */
        page.dialogs.elements.modalCreate.on("hidden.bs.modal", function () {
            page.dialogs.commands.closeModalCreate();
        })
        page.dialogs.elements.modalUpdate.on("hidden.bs.modal", function () {
            page.dialogs.commands.closeModalUpdate();
        })
        page.dialogs.elements.modalDeposit.on("hidden.bs.modal", function () {
            page.dialogs.commands.closeModalDeposit();
        })
        page.dialogs.elements.modalWithdraw.on("hidden.bs.modal", function () {
            page.dialogs.commands.closeModalWithdraw();
        })
        page.dialogs.elements.modalTransfer.on("hidden.bs.modal", function () {
            page.dialogs.commands.closeModalTransfer();
        })

    }


    page.loadData = () => {
        page.commands.getAllCustomers();

        page.commands.getAllProvinces().then(() => {
            const provinceId = page.dialogs.elements.provinceCreate.val();

            page.commands.getALlDistricts(provinceId).then(() => {
                const districtId = page.dialogs.elements.districtCreate.val();

                page.commands.getAllWards(districtId);
            });
        });

    }


    $(() => {
        page.loadData();

        page.initializeControlEvent();
    })


    function handleTotalAmountTransaction(element) {
        let transferAmount = Number(element.value);
        let fees = 10;
        let feesAmount = fees * transferAmount * 0.01;
        document.getElementById("transactionAmount").value = transferAmount + feesAmount;
    }
</script>
<script src="/assets/js/customer-validation.js"></script>
</body>
</html>