<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of customers</title>
    <link rel="stylesheet" href="/assets/bootstrap/v5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/fontawesome/v5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">

</head>
<body>
<div class="container">
    <header>
        <div class="col-lg-6">
            <h1>List of customers </h1>
        </div>
        <div class="col-lg-6 header-right-button">
            <a href="/customers/transfer-history">
                <button class="btn btn-outline-light">
                    <i class="fas fa-history"></i>
                    Transfer histories
                </button>
            </a>
            <a href="/customers/create">
                <button class="btn btn-outline-light">
                    <i class="fas fa-user-plus"></i>
                    Add new customer
                </button>
            </a>

        </div>
    </header>

    <div class="content">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>FullName</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Address</th>
                <th>Balance</th>
                <th colspan="2">Action</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="item: ${customers}">
                <tr>
                    <td th:text="${item.id}"></td>
                    <td th:text="${item.fullName}"></td>
                    <td th:text="${item.email}"></td>
                    <td th:text="${item.phone}"></td>
                    <td th:text="${item.address}"></td>
                    <td th:text="${item.balance}"></td>
                    <td>
                        <a th:href="@{/customers/__${item.id}__}">
                            <button class="btn btn-outline-secondary">
                                <i class="far fa-edit"></i>
                            </button>
                        </a>

                        <a th:href="@{/customers/deposit/__${item.id}__}">
                                <button class="btn btn-outline-success">
                                    <i class="fas fa-plus"></i>
                                </button>
                        </a>
                        <a th:href="@{/customers/withdraw/__${item.id}__}">
                            <button class="btn btn-outline-warning">
                                <i class="fa fa-minus"></i>
                            </button>
                        </a>
                        <a th:href="@{/customers/transfer/__${item.id}__}">
                            <button class="btn btn-outline-primary">
                                <i class="fas fa-exchange-alt" ></i>
                            </button>
                        </a>
                        <a th:href="@{/customers/delete/__${item.id}__}" onclick="return confirm('Bạn chắn chắn muôn xoá?')">
                            <button class="btn btn-outline-danger">
                                <i class="fas fa-ban" ></i>
                            </button>
                        </a>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>

    <th:block th:replace="layout/footer"/>
</div>


</body>
</html>