<th:block th:fragment="modalWithdraw">
    <div class="modal fade" id="modalWithdraw" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Modal Withdraw</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="error-area hide"></div>
                    <form method="post" id="formWithdraw">
                        <div class="row mb-3">
                            <div class="col-lg-6">
                                <label class="fw-bold">Full Name</label>
                                <input type="text" class="form-control" id="fullNameWithdraw" name="fullNameWithdraw" readonly>
                            </div>
                            <div class="col-lg-6">
                                <label class="fw-bold">Email</label>
                                <input type="text" class="form-control" id="emailWithdraw" name="emailWithdraw" readonly>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-lg-6">
                                <label class="fw-bold">Balance ($)</label>
                                <input type="tel" class="form-control" id="balanceWithdraw" readonly>
                            </div>
                            <div class="col-lg-6">
                                <label class="fw-bold">Transaction Amount ($)</label>
                                <input type="text" class="form-control" id="transactionWithdraw" name="transactionWithdraw">
                                <div id="withdraw-error" style="color: red;" ></div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="btnWithdraw">
                        <i class="fas fa-minus"></i>
                        Withdraw
                    </button>
                </div>
            </div>
        </div>
    </div>
</th:block>